.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: rgb(97, 97, 202);
    transition: 0.5s;
}

.smallSidebar{
 
}

.headertext{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: black;
    margin-right: 10px;
}

.logo{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;
}

.logo:hover{
    background-color:  rgb(167, 167, 221);
}

.nav{
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    padding: 0px;
}

.navItem{
   padding: 0px;
   margin: 0px;
}

.navItem:hover{
    background-color: white;
    border-top: black;
    border-bottom:white ;
}

.navLink{
    text-decoration: none;
    background-color: rgb(97, 97, 202);
    
}

.navParag{
    text-decoration: none;
    color: black;
    margin: 0px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

/*menu icon wrapper*/
.menuWrapper{
    cursor: pointer;
    border-radius: 3px;
}

.menuWrapper:hover{
    background-color:  rgb(227, 227, 243);
}