.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: #2a5379;
    transition: 1s;
}

.hiddenSidebar{
    display: none;
    transition: 1s;
}

.floatingSidebar{
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
    top: 20;
    left: 20;
    z-index: 99;
}

.headertext{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: white;
    margin-right: 10px;
}

.logo{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;
}

.logo:hover{
    background-color:  #336390;
}
/*
336390
*/
.nav{
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    padding: 0px;
}

.navItem{
   padding: 0px;
   margin: 0px;
}

.navItem:hover{
    background-color: #336390;
    border-top: black;
    border-bottom:white ;
}

.navLink{
    text-decoration: none;
    background-color: rgb(97, 97, 202);  
}

.navParag{
    text-decoration: none;
    color: black;
    margin: 0px;
    margin-left: 25px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: white;
}

/*menu icon wrapper*/
.menuWrapper{
    cursor: pointer;
    border-radius: 3px;
    color: white;
}

.menuWrapper:hover{
    background-color:  #336390;
}