.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaec;
}

.header{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    overflow: hidden;
    border: black;
    position: relative;
    text-align: center;
    color: white;
}

.headerImage{
    max-width:100%;
    min-height: 100%;
}

.headerText{
    margin: 0px;
    color: white;
    font-weight: 900;
    position: absolute;
    bottom: 20px;
    left:40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   margin-bottom: 20px;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 80%;
    background-color: white;
    
}